.caja {
  width: 100%;
  height: 50px;
  background-color: #1c2563;
}
.caja .caja11 {
  color: white;
}
.caja .caja1 {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.caja .caja2__a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin: 0 5px;
}
.caja .caja3 .caja3__a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin: 0 5px;
}

.nav {
  height: 70px;
  background-color: #33363a;
}
.nav .nav__caja {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .nav__caja .nav__log {
  height: 100%;
}
.nav .nav__caja .nav__log .nav__img {
  height: 100%;
  width: 70px;
}
.nav .nav__nav {
  font-size: 30px;
}
.nav .nav__nav a {
  color: white;
}

header {
  width: 100%;
  height: 6 0px;
  background-color: #1c2563;
  position: sticky;
  top: 0.1px;
}
header .caja {
  width: 78%;
  margin: 0 auto;
  height: 60px;
  position: sticky;
  top: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .caja .logo {
  width: 15%;
  height: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
header .caja .logo img {
  width: 80px;
}
header .caja nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
}
header .caja nav .articulos {
  height: 100%;
  display: flex;
}
header .caja nav .articulos ul,
header .caja nav .articulos ol {
  list-style: none;
  display: flex;
  justify-content: end;
}
header .caja nav .articulos .navega {
  width: 100%;
  margin: auto;
  padding: 10px 0 0 0;
}
header .caja nav .articulos .navega li a {
  color: #2a3855;
  text-decoration: none;
  display: block;
  padding: 8px;
  font-weight: bold;
  color: white;
}
header .caja nav .articulos .navega > li {
  float: left;
}
header .caja nav .articulos .navega li ul {
  display: none;
  position: absolute;
  min-width: 200px;
}
header .caja nav .articulos .navega li:hover > ul {
  display: block;
  background-color: rgb(8, 5, 5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  font-size: 13px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 810px) {
  .caja {
    height: 70px;
  }
  .caja .caja1 .caja2__a {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .caja {
    height: 70px;
  }
}
.sec1n {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
}
.sec1n .sec1n__caja1 {
  width: 50%;
}
.sec1n .sec1n__caja1 .sec1n__title {
  font-size: 25px;
  margin: 20px 0;
}
.sec1n .sec1n__caja1 .sec1n__img {
  margin: 20px 0;
}
.sec1n .sec1n__caja1 .sec1n__img img {
  width: 100%;
}
.sec1n .sec1n__caja1 .sec1n__text .sec1n__text1 {
  color: #9D9D9D;
  padding: 10px 0;
}
.sec1n .sec1n__caja1 .sec1n__text .sec1n__text2 {
  width: 95%;
  margin: 0 auto;
}
.sec1n .sec1n__caja2 {
  width: 35%;
}
.sec1n .sec1n__caja2 .sec1n__title {
  font-size: 25px;
  margin: 20px 0;
  text-align: center;
}
.sec1n .sec1n__caja2 .sec1n__box {
  display: flex;
  padding: 10px 0;
}
.sec1n .sec1n__caja2 .sec1n__box .sec1n__img {
  margin: 0 10px 0 0;
}
.sec1n .sec1n__caja2 .sec1n__box .sec1__tex .sec1n__btn {
  background-color: #1C2563;
  padding: 7px;
  margin: 10px 0;
}
.sec1n .sec1n__caja2 .sec1n__box .sec1__tex .sec1n__btn a {
  color: white;
  text-decoration: none;
}
.sec1n .sec1n__caja2 .sec1n__btn {
  background-color: #1C2563;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

@media screen and (max-width: 950px) {
  .sec1n {
    flex-direction: column;
  }
  .sec1n .sec1n__caja1 {
    width: 90%;
    margin: 0 auto;
  }
  .sec1n .sec1n__caja2 {
    width: 90%;
    margin: 0 auto;
  }
  .sec1n .sec1n__caja2 .sec1n__btn {
    background-color: #1C2563;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
}
.foot {
  background-color: #33363a;
  padding: 30px 0;
  font-size: 12px;
}
.foot .foot__card {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot .foot__card .foot_card1 .foot__ul {
  list-style: none;
}
.foot .foot__card .foot__card2 {
  margin: 10px 0 0 0;
  display: flex;
}
.foot .foot__card .foot__card2 .foot__ul {
  list-style: none;
}
.foot .foot__card .foot__card2 .foot__ul .foot__li1 {
  display: flex;
}
.foot .foot__card .foot__card2 .foot__ul .foot__li1 .foot__img {
  width: 40px;
  height: 43px;
}
.foot .foot__card .foot__card2 .foot__ul .foot__li1 .foot__caja {
  padding: 0 0 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.foot .foot__card .foot__card2 .foot__ul .foot__li1 .foot__a {
  color: #99b6ff;
  text-decoration: none;
}
.foot .foot__card .foot__card3 {
  margin: 10px 0 0 0;
}

@media screen and (max-width: 800px) {
  .foot .foot__card {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .foot .foot__card .foot__card3 {
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*# sourceMappingURL=newCoticia.css.map */
