.foot {
  background-color: #33363a;
  padding: 30px 0;
  font-size: 12px;
  .foot__card {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .foot_card1 {
      .foot__ul {
        list-style: none;
      }
    }
    .foot__card2 {
      margin: 10px 0 0 0;

      display: flex;
      .foot__ul {
        list-style: none;
        .foot__li1 {
          display: flex;

          .foot__img {
            width: 40px;
            height: 43px;
          }
          .foot__caja {
            padding: 0 0 0 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          .foot__a {
            color: #99b6ff;
            text-decoration: none;
          }
        }
      }
    }
    .foot__card3 {
      margin: 10px 0 0 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .foot {
    .foot__card {
      flex-direction: column;
      flex-wrap: wrap;

      .foot__card3 {
        margin: 10px 0 0 0;
        display: flex;
        align-items: center;
      }
    }
  }
}
